<md-content layout='row'>
  <div flex='66'>
  <p>ACTIVE LEAGUES</p>
    <md-card ng-repeat='league in leagues'>

      <md-card-content>
        <a href='#/leagues/{{league._id}}'>
          <strong>{{league.name}}</strong>
          <br>
          <small>{{league.durationOfTournament}}</small>
        </a>
        <div id='updateLeague'>
          <img src="../img/delete.png" ng-click='removeLeague(league._id)'>  
          <!-- <i class="fa fa-plus" ng-click='updateLeague(league._id)'></i> -->
        </div>
      </md-card-content>
    </md-card>
  </div>
  <md-card flex id='createLeague'>
    <md-toolbar id='createLeagueBar'>
      <h2 class="md-toolbar-tools">
        <span>Create New League</span>
      </h2>
    </md-toolbar>
    <md-card-content>
      <form id='inputField'>
        <md-input-container>
          <label>Enter League Name</label>
          <input ng-model='league.name' class='inputField'>
        </md-input-container>
        <md-input-container>
          <label>Duration of Tournament</label>
          <input ng-model='league.durationOfTournament' class='inputField'>
        </md-input-container>
        <md-button type='submit' class="md-raised" ng-click='createLeague()'>Create League</md-button>
      </form>
    </md-card-content>
  </md-card>
</md-content>