<section layout='row' flex id=updateSection>
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Team Details</h1>
    </md-toolbar>
    <md-content class="md-padding" id='resultDisplay'>
        <md-card ng-repeat="player in players">
            <md-card-content ng-click='viewPlayer(player._id)'>
                {{player.fullName}}
            </md-card-content>
        </md-card>
        <md-button type='submit' class="md-raised" ng-click='addPlayerInit()'>Add Player to Team</md-button>
    </md-content>
</md-sidenav>
<md-content flex class="md-padding">
    <div layout="column" layout-fill layout-align="top center">
      <md-card id='displayCard'>
        <md-toolbar class="md-theme-indigo">
          <h1 class="md-toolbar-tools">Player Details</h1>
        </md-toolbar>
          <img src='../img/profilePhoto.jpg' id='profileImg'>
          <md-card-content>
            Name: {{result.fullName}}
            <br>
            <br>
            Jersey Number: {{result.jerseyNumber}}
            <br>
            <br>
            Yellow Cards: {{result.yellowCardsObtained}}
            <br>
            <br>
            Red Cards: {{result.redCardsObtained}}
            <br>
            <br>
            <!-- <div id='update'>
              <a href="" class='playerUpdate'>Update Details</a> 
              <a href="" class='playerUpdate'>Delete</a>
            </div> -->
          </md-card-content>
        </md-card>

        <!-- Add Players to Team -->

        <md-card id='player' ng-show='addPlayerDiv'>
          <md-toolbar id='playerBar'>
            <h2 class="md-toolbar-tools">
              <span>Add Player</span>
            </h2>
          </md-toolbar>
          <md-card-content>
            <form name='addPlayerForm'>
              <md-input-container>
                <label>Enter Player's fullName</label>
                <input ng-model='player.fullName' class='inputField' name='playerName'>
              </md-input-container>
              <md-input-container>
                <label>Jersey Number</label>
                <input ng-model='player.jerseyNumber' class='inputField' name='playerDuration'>
              </md-input-container>
              <md-input-container>
                <label>Yellow Cards Obtained</label>
                <input ng-model='player.yellowCardsObtained' class='inputField' name='playerDuration'>
              </md-input-container>
              <md-input-container>
                <label>Red Cards Obtained</label>
                <input ng-model='player.redCardsObtained' class='inputField' name='playerDuration'>
              </md-input-container>
              <md-button type='submit' class="md-raised" ng-click='addPlayer()'>Add Player</md-button>
              <!-- <md-button type='submit' class="md-raised" ng-click='hidePlayerForm()'>Hide</md-button> -->
            </form>
          </md-card-content>
        </md-card>
      </div>
    <div flex></div>
  </md-content>
</section>
